version: 2
updates:
  - package-ecosystem: 'npm'
    open-pull-requests-limit: 1
    rebase-strategy: 'disabled'
    directory: '/'
    schedule:
      interval: 'daily'
    commit-message:
      prefix: '⬆️ '
    groups:
      monorepo-config:
        patterns:
          - 'husky'
          - 'lint-staged'
          - 'prettier'
      react-ish:
        patterns:
          - 'react'
          - 'react-dom'
          - '@types/node'
          - '@types/react'
          - '@types/react-dom'
          - 'react-router'
          - '@react-router/*'
          - 'jotai'
          - 'isbot'
          - '@remixicon/react'
      ui:
        patterns:
          - '@base-ui/*'
          - '@pandacss/*'
          - 'postcss'
          - 'autoprefixer'
      storybook:
        patterns:
          - 'storybook'
          - '@storybook/*'
          - 'storybook-addon-remix-react-router'
      testing:
        patterns:
          - 'vite'
          - '@mdx-js/rollup'
          - '@testing-library/*'
          - 'vitest'
          - '@vitest/*'
          - 'chromatic'
          - 'playwright'
      typescript-eslint:
        patterns:
          - 'typescript'
          - 'eslint'
          - 'eslint-*'
          - 'jiti'
          - '@eslint/*'
          - 'globals'
          - '@typescript-eslint/*'
      cloudflare:
        patterns:
          - '@cloudflare/*'
          - 'wrangler'
          - 'session-context'
